<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.locantoapps.stupidquiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.locantoapps.stupidquiz.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.locantoapps.stupidquiz.Main6Activity" />
        <activity android:name="com.locantoapps.stupidquiz.Main5Activity" />
        <activity android:name="com.locantoapps.stupidquiz.Main4Activity" />
        <activity android:name="com.locantoapps.stupidquiz.Main3Activity" />
        <activity android:name="com.locantoapps.stupidquiz.Main2Activity" />
        <activity android:name="com.locantoapps.stupidquiz.TryAgain" />
        <activity android:name="com.locantoapps.stupidquiz.Questionlist" />
        <activity
            android:name="com.locantoapps.stupidquiz.MainActivity"
            android:noHistory="false">
        </activity>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="3TZNTPFGSka05uuSH7R8uyAFcH8aTpPXHzvlN90qtbryUiOnrrvin4zOL6zqvMLAKEwhNxVFXLB03anuPgbBlZ" />
    </application>

</manifest>